.sub_banner {
    margin-top: 10px; /* Khoảng cách với phần trên là 10px */
    display: flex;
    justify-content: space-between; /* Tạo khoảng cách đều giữa các phần tử */
    width: 100%;
  }
  
  .sub_banner__item {
    position: relative;
    flex: 1;
    margin-right: 5px; /* Khoảng cách giữa các hình ảnh là 5px */
    transition: transform 0.3s ease-in-out; /* Hiệu ứng thu nhỏ */
  }
  
  .sub_banner__item:last-child {
    margin-right: 0; /* Loại bỏ margin-right cho phần tử cuối cùng */
  }
  
  .sub_banner__item:hover {
    transform: scale(0.95); /* Thu nhỏ khi hover vào */
  }
  
  .img-fluid {
    display: block;
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 600px) {
    .sub_banner {
      flex-direction: column; /* Đổi hướng các phần tử thành cột trên màn hình nhỏ */
    }
  
    .sub_banner__item {
      margin-right: 0;
      margin-bottom: 5px; /* Khoảng cách dưới mỗi hình ảnh là 5px trên màn hình nhỏ */
    }
  
    .sub_banner__item:last-child {
      margin-bottom: 0; /* Loại bỏ margin-bottom cho phần tử cuối cùng */
    }
  }
  