.list-ship {
    list-style: none;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2px;
}

.list-ship img{
    scale: 0.7;
}
.list-pay {
    list-style: none;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2px;
}

.list-pay img{
    scale: 0.7;
}
.footer-content img{
    scale: 0.7;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.line {
    border-top: 3px solid #0000008c;
    padding: 20px;
}