body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --primary-color: #0a804a;
  --secondary-color: #fbd947;
  --header-background: #0a804a;
  --header-color: #ffffff;
  --ae-search-button-background: #fbd947;
  --text-color: #333333;
}

:root {
  --ae-search-border-radius: 5px;
}
